@charset "UTF-8";
/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        - Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, 
building blocks
        - Framework
6.0 - Components: specific designed components
        - Navigation
7.0 - Utilities: utilities and helper classes with ability to override anything 
which goes before in the triangle, eg. hide helper class
        - Color     
--------------------------------------------------------------*/  



/*--------------------------------------------------------------                  
   3.0 - GENERIC                                                                  
-------------------------------------------------------------- */   

/* ----- UNIVERSAL ----- */

*, 
*:after,
*:before {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: gray;
}

/*--------------------------------------------------------------
   4.0 - ELEMENTS
-------------------------------------------------------------- */

h1,
h2,
h3,
header > div:last-child {
    font-family: 'Montserrat', sans-serif;
}

/* ----- TYPOGRAPHY ----- */

h1 {
    text-align: center;
}

h2 {
    color: lightgray;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .2rem;
    margin: 2em 0 0 0;
}

/*--------------------------------------------------------------
   5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.img-responsive {
    max-width: 100%;
}

[class*='col-'] {
    padding: .5em .5em;
}

[class*='col-'] [class*='col-'] {
    margin-left: -.5em;
    margin-right: -.5em;
}

.col-sm-1 {
    width: calc(100% * 1 / 12);
}

.col-sm-2 {
    width: calc(100% * 2 / 12);
}

.col-sm-3 {
    width: calc(100% * 3 / 12);
}

.col-sm-4 {
    width: calc(100% * 4 / 12);
}

.col-sm-5 {
    width: calc(100% * 5 / 12);
}

.col-sm-6 {
    width: calc(100% * 6 / 12);
}

.col-sm-7 {
    width: calc(100% * 7 / 12);
}

.col-sm-8 {
    width: calc(100% * 8 / 12);
}

.col-sm-9 {
    width: calc(100% * 9 / 12);
}

.col-sm-10 {
    width: calc(100% * 10 / 12);
}

.col-sm-11 {
    width: calc(100% * 11 / 12);
}

.col-sm-12 {
    width: calc(100% * 12 / 12);
}

@media screen and (min-width: 768px) {

    .wrapper {
        width: 60%;
    }

    [class*='col-'] {
        padding: .5px;
    }

    [class*='col-'] [class*='col-'] {
        margin-left: -.5em;
        margin-right: -.5em;
    }

    .col-md-1 {
        width: calc(100% * 1 / 12);
    }

    .col-md-2 {
        width: calc(100% * 2 / 12);
    }

    .col-md-3 {
        width: calc(100% * 3 / 12);
    }

    .col-md-4 {
        width: calc(100% * 4 / 12);
    }

    .col-md-5 {
        width: calc(100% * 5 / 12);
    }

    .col-md-6 {
        width: calc(100% * 6 / 12);
    }

    .col-md-7 {
        width: calc(100% * 7 / 12);
    }

    .col-md-8 {
        width: calc(100% * 8 / 12);
    }

    .col-md-9 {
        width: calc(100% * 9 / 12);
    }

    .col-md-10 {
        width: calc(100% * 10 / 12);
    }

    .col-md-11 {
        width: calc(100% * 11 / 12);
    }

    .col-md-12 {
        width: calc(100% * 12 / 12);
    }

}

@media screen and (min-width: 1024px) {

    .wrapper {
        width: 70%;
    }

    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }

    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }

    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }

    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }

    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }

    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }

    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }

    .col-lg-8 {
        width: calc(100% * 8 / 12);
    }

    .col-lg-9 {
        width: calc(100% * 9 / 12);
    }

    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }

    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }

    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}


/*--------------------------------------------------------------
   6.0 - COMPONENTS
-------------------------------------------------------------- */

header > div:last-child a,
main  a {
    font-weight: 500;
    font-size: .9rem;
    letter-spacing: 0;
    background-color: #4E9374;
    border-radius: 6em;
    padding: .5em 1.2em;
}

header > div:last-child a:hover,
main  a:hover {
    background-color: #1D6D49;
}

main > div:first-child > p:first-child,
#about main > div p {
    font-size: 1.5rem;
    font-family: 'EB Garamod', serif;
    font-weight: 200;
    line-height: 2rem;
}

main p,
#about main > section:last-child li {
    font-size: 1rem;
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    line-height: 1.8rem;
}

header > div:last-child,
#about h1,
#take-action h1 {
    color: #fff;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    padding-bottom: 2.8em;
}

#about header > div:last-child,
#take-action header > div:last-child {
    padding-bottom: 0;
}

#about h1,
#take-action h1 {
    justify-content: center;
}

@media screen and (min-width: 768px) {
    #about h1,
    #take-action h1 {
        font-size: 5rem;
        letter-spacing: .3rem;
        padding-bottom: 3em;
}
}


/* ----- HOME ----- */

#home > header {
    background: url("../img/man-viewing-sunrise.jpg") no-repeat center;
    -moz-backround-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    width: 100vw;
}

header {
    text-align: center;
}

header > div:first-child nav a:hover {
    border-bottom: .1em solid #fff;
}

header > div:first-child a {
    padding: .5em;
}

header > div:first-child li:last-child a:hover {
    color:#4E9374;
    background-color: #fff;
    padding: .5em 1.2em;
    border-radius: 6em;
}

header > div:last-child span {
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: 200;
    font-size: 2.3rem;
    text-transform: lowercase;
    letter-spacing: .1rem;
}

header > div:last-child p {
    margin: 0;
}

#home main {
    text-align: center;
}

main > div:first-child {
    margin-top: 3em;
}

main > div:nth-child(2) > section:first-child > div:first-child {
    background: url("../img/sunrays-on-mountain.jpg") no-repeat center;
    -moz-backround-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
    -ms-background-size: contain;
    background-size: contain;
    padding: 10em;
    margin-top: 3em;
}

main > div:nth-child(2) > section:last-child > div:first-child {
    background: url("../img/forest-trail.jpg") no-repeat center;
    -moz-backround-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
    -ms-background-size: contain;
    background-size: contain;
    padding: 10em;
    margin-top: 3em;
}

main p {
    margin-bottom: 2em;
}

main > div:nth-child(2) {
    margin-bottom: 3em;
}

@media screen and (min-width: 768px) {
    h1 {
        display: flex;
        justify-content: flex-start;
    }

    header nav {
        display: flex;
        justify-content: flex-end;
        margin-top: 1em;
    }

    header > div:last-child {
        font-size: 5rem;
        letter-spacing: .3rem;
        padding-bottom: .6em;
    }

    header > div:last-child span {
        font-size: 3.5rem;
    }

    main > div:first-child {
        justify-content: center;
        margin-right: 0;
    }

    main > div:nth-child(2) > section:first-child > div:first-child {
        -moz-backround-size: contain;
        -webkit-background-size: contain;
        -o-background-size: contain;
        -ms-background-size: contain;
        background-size: contain;
    }
    
    main > div:nth-child(2) > section:last-child > div:first-child {
        -moz-backround-size: contain;
        -webkit-background-size: contain;
        -o-background-size: contain;
        -ms-background-size: contain;
        background-size: contain;
    }
}

@media screen and (min-width: 1024px) {
    header > div:last-child {
        padding-bottom: 2.3em;
    }
}

/* ----- ABOUT ----- */

#about > header {
    background: url("../img/sunrays-on-mountain.jpg") no-repeat center;
    -moz-backround-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    width: 100vw;
}

#about main li {
    font-family: 'EB Garamond', serif;
    font-style: italic;
    color: #1D6D49;
    font-size: .8rem;
}

#about main a {
    color: lightgray;
    background-color: transparent;
    font-style: normal;
    font-size: .8rem;
    font-weight: 600;
}

#about main nav {
    background-color: #fff;
    position: fixed;
    text-align: center;
}

#about main > div {
    margin-top: 5em;
}

#about main > div p {
    text-align: center;
    margin: 2em 0 2.5em 0
}

#about h2 {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

#about main p {
    margin: 0;
}

blockquote {
    border-top: .1em solid lightgray;
    border-bottom: .1em solid lightgray;
    margin: 0;
    text-align: center;
    margin: 2.5em 0 2.5em 0;
}

blockquote > footer {
    background-color: transparent;
}

#about main > section:last-child li {
    color: gray;
    font-style: normal;
    text-align: left;
}

#about main > section:last-child li {
    background: url("../img/tree.svg") no-repeat;
    list-style-type: none;
    padding-left: 25px;
    margin-bottom: 15px;
}

#about main > section:last-child ul {
    margin: 0;
}

@media screen and (min-width: 768px) {
    header img {
        display: flex;
        justify-content: flex-start;
    }

    #about h1,
    #take-action h1 {
        font-size: 5rem;
        letter-spacing: .3rem;
        padding-bottom: 3em;
    }

    #about main nav {
        text-align: left;
    }

    #about main a {
        padding-left: 0;
    }

    #about main > div p {
        text-align: left;
    }
}


/* ----- TAKE ACTION ----- */

#take-action > header {
    background: url("../img/forest-trail.jpg") no-repeat center;
    -moz-backround-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    width: 100vw;
}

#take-action main {
    text-align: center;
    margin-bottom: 4em;
}

#take-action p {
    margin: 0 0 2em 0;
}

/* ----- NAV ----- */

li {
    list-style-type: none;
    display: inline;
}

#home ul,
header ul
#about main > nav ul {
    text-align: center;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

/* ----- FOOTER ----- */

footer {
    margin-top: 4em;
    background-color: #4E9374;
    justify-content: center;
    margin: 0;
}

footer address {
    background-color: #1D6D49;
    width: 100vw;
    text-align: center;
}

address a {
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
}

footer .fa-brands {
    font-size: 1.3rem;
}

/*--------------------------------------------------------------
   7.0 - UTILITY
-------------------------------------------------------------- */

.col-center {
    justify-content: center;
}